<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HARI</title>
    <link rel="stylesheet" type="text/css" href="static\css\main.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: black;
        /* background-image: url("static/tenor.gif");
      background-repeat: no-repeat;
      background-size: 50% 750px; */
      }
      
    </style>
  </head>

  <body>
    <div class="container-fluid-clone">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark">
            <h5 class="text-white h4">Connection Status</h5>
            <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
            <div id="status" class="text-white">
              ICE gathering status:
              <label id="ice-gathering-status-label"></label><br />
              ICE status: <label id="ice-status-label"></label><br />
              Peer connection status: <label id="peer-status-label"></label
              ><br />
              Signaling status: <label id="signaling-status-label"></label
              ><br />
              Streaming status: <label id="streaming-status-label"></label
              ><br />
            </div>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>

      <div id="video-wrapper" class="video-section">
        <div class="video-container" style="height: 100vh; overflow: hidden">
          <video id="talk-video" autoplay></video>
        </div>
      </div>

      <!-- Chatbot Section -->
      <div class="chatbot-container">
        <div id="header">
          <h1>HARI</h1>
        </div>
        <div id="chatbot">
          <div id="conversation">
            <div class="chatbot-message">
              <p class="chatbot-text">Hi! 👋 it's great to see you!</p>
            </div>
          </div>
          <form id="input-form">
            <message-container>
              <input
                id="input-field"
                type="text"
                placeholder="Type your message here"
              />
              <button id="talk-button" type="button">
                <img
                  class="send-icon"
                  src="static\send-message.png"
                  alt=""
                  width="32px"
                  height="32px"
                />
              </button>
              <button id="connect-button" type="button">
                <img
                  class="play-icon"
                  src="static\play.png"
                  alt=""
                  width="32px"
                  height="32px"
                />
              </button>
              <button id="destroy-button" type="button">
                <img
                  class="stop-icon"
                  src="static\stop-button.png"
                  alt=""
                  width="32px"
                  height="32px"
                />
              </button>
            </message-container>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

    <script src="static\js\chatbot.js"></script>
    <!-- <script src="static\js\test_openai.js"></script> -->
  </body>
</html>
