/* CSS styles for the chatbot and video sections */
.container-fluid-clone {
  display: flex;
  /* justify-content:right; */
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  flex-direction: column;
  /* align-items:end; */
  font-family: Arial, sans-serif;
}

.pos-f-t {
  order: 1; /* Make it appear first */
}

.video-connection {
  order: 2; /* Make it appear second */
  flex-grow: 1; /* Allow it to grow and fill the remaining space */
}

.video-connection {
  background-color: black;
  display: flex;
  height: auto;
  width: 100%;
}

.video-section,
.chatbot-container {
  flex-grow: 1; /* Occupy remaining space */
}

.pos-f-t {
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}

/* .chatbot-section {
  background-color:black;  
  align-items:center;
} */
/* .chatbox {
  background-color:black;  
  align-items: center;
  width: 50%;
  height: auto;
}

.chat-messages {

  height: auto;
  width: 100%;
  align-items: end;
  border: 0px solid #ccc;
  padding: 0px;
} */

.video-section {
  background-color: black;
  align-items: stretch;
  height: auto;
  width: 50%;
}
.video-container {
  position: relative;
  /* padding-bottom: 56.25%; */
  height: 97vh;
  overflow: hidden;
}

#talk-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar {
  width: 100%;
  height: 100vh;
}

.chatbot-container {
  width: 35%;
  margin: 0 auto;
  background-color: black;
  border: 0px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#chatbot {
  background-color: black;
  border: 0px solid #eef1f5;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#header {
  background-color: transparent;
  color: #55c9d3;
  padding: 11px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

message-container {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
}

#conversation {
  height: 78vh;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@keyframes message-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatbot-message {
  display: flex;
  align-items: flex-start;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  padding: 0 15px;
}

.user-message {
  justify-content: flex-end;
}

.chatbot-text {
  background-color: #a251ea;
  color: white;
  font-size: 1.1em;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#input-form {
  display: flex;
  align-items: center;
  border-top: 0px solid #eef1f5;
}

#input-field {
  flex: 1;
  height: 60px;
  border: 0px solid #eef1f5;
  border-radius: 0px;
  padding: 0 10px;
  font-size: 16px;
  transition: border-color 0.3s;
  background: #a251ea;
  color: white;
  border: none;
  text-align: center;
}

.send-icon {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.play-icon {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.stop-icon {
  margin-right: 5px;
  cursor: pointer;
}

.navbar-toggler{
  background-color: #eef1f5;
}

.toggle-button{
  background-color: white;
}

#input-field:focus {
  border-color: #333333;
  outline: none;
}
input::placeholder {
  font-weight: bold;
  opacity: 1;
  color: white;
}
#talk-button {
  background-color: transparent;
  border: none;
}
#connect-button {
  background-color: transparent;
  border: none;
}
#destroy-button {
  background-color: transparent;
  border: none;
}

p[sentTime]:hover::after {
  content: attr(sentTime);
  position: absolute;
  top: -3px;
  font-size: 14px;
  color: gray;
}

.chatbot p[sentTime]:hover::after {
  left: 15px;
}

.user-message p[sentTime]:hover::after {
  right: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.peerConnectionState-new {
  color: cornflowerblue;
}
.peerConnectionState-connecting {
  color: orange;
}
.peerConnectionState-connected {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceConnectionState-new {
  color: cornflowerblue;
}
.iceConnectionState-checking {
  color: orange;
}
.iceConnectionState-connected,
.iceConnectionState-completed {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceGatheringState-new {
  color: cornflowerblue;
}
.iceGatheringState-gathering {
  color: orange;
}
.iceGatheringState-complete {
  color: black;
}

.signalingState-stable {
  color: green;
}
.signalingState-have-local-offer,
.signalingState-have-remote-offer,
.signalingState-have-local-pranswer,
.signalingState-have-remote-pranswer {
  color: cornflowerblue;
}
.signalingState-closed {
  color: red;
}

.streamingState-streaming {
  color: green;
}

.streamingState-empty {
  color: grey;
}

/* .navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: black;
} */

.navbar_new {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px;
  background-color: black;
  height: auto;
}

.navbar_toggler {
  padding: 0;
  font-size: 10px;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  height: 10px
}


